// home
.home {
  margin: 100px 0 74px 0;
  position: relative;

  .top_gradient {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }

  .home_container {
    position: relative;
    max-width: 868px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    button {
      position: absolute;
      z-index: 2;
      width: 55px;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      backdrop-filter: blur(180px);
      background: rgba(238, 238, 238, 0.4);
    }

    .home-button-next {
      right: -34px;
    }

    .home-button-prev {
      left: -34px;
    }

    .swiper-button-disabled {
      background: rgba(238, 238, 238, 0.2);
      svg {
        path {
          fill: #a9a9a9;
        }
      }
    }

    .homeSwiper {
      img {
        width: 100%;
      }
    }

    .swiper-pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      bottom: 17px;

      .swiper-pagination-bullet {
        flex-shrink: 0;
        margin: 0;
        width: 10px;
        height: 10px;
        background: #b3b3b3ff;
        border: 1px solid transparent;
        border-image: linear-gradient(
            146.49deg,
            rgba(140, 140, 140, 0.6) 3.89%,
            rgba(0, 0, 0, 0) 48.54%,
            rgba(143, 143, 143, 0.6) 89.85%
          )
          0;
      }

      .swiper-pagination-bullet-active {
        width: 15px;
        height: 15px;
        // background: rgba(255, 255, 255, 0.4);
      }
    }
  }
}
// home

// line_block
.line_block {
  padding: 0 20px;
  .header_container {
    background: #adadad;
    height: 1px;
    max-width: 1200px;
    margin: 0 auto;
  }
}
// line_block

// products
.products {
  position: relative;
  padding: 128px 25px 206px 25px;

  .products_in {
    user-select: none;
    max-width: 1000px;
    margin: 0 auto;
  }

  .mini_block {
    width: 201px;
  }

  .gradient_big {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    margin: auto 0;
  }

  .gradient_big_media {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: -271px;
    z-index: -1;
  }

  .products_in {
    display: flex;
    align-items: stretch;
    gap: 21px;
    height: 606px;
  }

  .products_left {
    width: calc(50% - 10.5px);
    display: flex;
    flex-direction: column;
    gap: 21px;
  }

  .products_right {
    width: calc(50% - 10.5px);
    display: flex;
    flex-direction: column;
    gap: 21px;
  }

  .products_blocks {
    display: flex;
    align-items: stretch;
    gap: 21px;
    height: calc(100% / 3 * 2 - 10.5px);

    .product_blocks_in {
      width: calc(100% / 2);
    }
  }

  .products_blocks_two {
    display: flex;
    flex-direction: column;
    gap: 21px;
    height: 100%;

    .products_block {
      height: calc(50% - 10.5px);
    }
  }

  .products_block {
    width: 100%;
    height: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    h6 {
      position: absolute;
      left: 30px;
      top: 30px;
      font-size: 24px;
      font-weight: 500;
      line-height: 20.61px;
      color: #d9d9d9;
    }
  }

  .product_one {
    height: calc(100% / 3 - 10.5px);
    flex-shrink: 0;
  }

  .desktop_media {
    display: none;
  }
}
// products

// cart
.basket__page {
  position: relative;
  z-index: 1;
  .gradiend_img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: -1;
  }
  .top_parent-box {
    position: relative;
  }
  .top__box {
    z-index: 1;
    margin: 250px 40px 73px 40px;
    border-bottom: 1px solid #adadad;
    .title__box {
      position: relative;
      padding: 50px 0;
      z-index: 1;
      margin-top: 180px;
      height: 180px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 970px;
      margin: 0 auto;
    }
    img {
      position: absolute;
      top: -33px;
      left: 0;
      width: 100%;
      height: 127%;
      z-index: -1;
    }
  }
  .counter {
    display: flex;
    align-items: center;
    gap: 6px;
    button {
      width: 27px;
      height: 27px;
      position: relative;
      border: 1px solid transparent;
      border-image: linear-gradient(
          165.54deg,
          rgba(140, 140, 140, 0.6) 9.19%,
          rgba(159, 159, 159, 0.3) 46.45%,
          rgba(143, 143, 143, 0.6) 100%
        )
        1;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #fc3f1d;
      }
    }
    .count_number {
      font-size: 27px;
      font-weight: 200;
      line-height: normal;
      width: 37px;
      color: #d9d9d9;
      text-align: center;
    }
  }
  .backet_products {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 120px;
    .backet_product-tr {
      background: #ffffff26;
      border: 1px solid transparent;
      border-image: linear-gradient(
          165.54deg,
          rgba(140, 140, 140, 0.6) 9.19%,
          rgba(159, 159, 159, 0.3) 46.45%,
          rgba(143, 143, 143, 0.6) 84.11%
        )
        1;
      height: 75px;
      overflow: hidden;
      border-left: none;
      border-right: none;
    }
    .backet_product {
      max-width: 970px;
      margin: 0 auto;
      display: flex;
      gap: 30px;
      align-items: center;
      justify-content: space-between;
      & > div {
        height: 75px !important;
        display: flex;
        align-items: center;
      }
    }
    .img_box {
      gap: 15px;
    }
    .counter_box {
      gap: 98px;
    }
    .mass {
      font-size: 14px;
      font-weight: 300;
      line-height: 12px;
      color: #adadad;
    }

    .price {
      font-size: 32px;
      font-weight: 300;
      line-height: 27.44px;
      color: #d9d9d9;
      width: 130px;
    }
    .product_name {
      font-size: 16px;
      font-weight: 300;
      line-height: 13.72px;
    }
    .product_img {
      width: 100%;
      min-width: 150px;
      max-width: 150px;
      height: 100%;
      object-fit: cover;
    }
  }
  .number_person-tr {
    margin: 120px 0;
    background: #7e7e7e26;
    border: 1px solid transparent;
    border-left: none;
    border-right: none;
    border-image: linear-gradient(
        165.54deg,
        rgba(140, 140, 140, 0.6) 9.19%,
        rgba(159, 159, 159, 0.3) 46.45%,
        rgba(143, 143, 143, 0.6) 84.11%
      )
      1;
    padding: 20px 0 30px 0;
  }
  .number_person {
    max-width: 970px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .left_box {
    max-width: 432px;
    p {
      font-size: 14px;
      font-weight: 300;
      line-height: 12px;
      color: #adadad;
    }
    h4 {
      font-size: 32px;
      font-weight: 300;
      line-height: 27.44px;
      padding-bottom: 20px;
    }
  }
  .right_box {
    display: flex;
    align-items: center;
    gap: 30px;
    p {
      font-size: 12px;
      font-weight: 300;
      line-height: 10.29px;
      color: #adadad;
    }
    .counter {
      button {
        border-width: 2px;
        width: 30px;
        height: 30px;
        border-image: linear-gradient(
            146.49deg,
            rgba(140, 140, 140, 0.6) 3.89%,
            rgba(0, 0, 0, 0) 48.54%,
            rgba(143, 143, 143, 0.6) 89.85%
          )
          1;
      }
    }
  }
  .total_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 155px;
    padding-bottom: 210px;
    .total_price {
      .total {
        font-size: 32px;
        font-weight: 300;
        line-height: 27.44px;
      }
      p {
        font-size: 48px;
        font-weight: 300;
        line-height: 41.16px;
      }
    }
    .btn_box {
      display: flex;
      gap: 66px;
      button,
      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .add__cart-btn {
        font-size: 20px;
        font-weight: 300;
        padding: 18px 23px;
      }
    }
  }
}
.add__cart-btn:disabled {
  cursor: default;
  background: #d9d9d9 !important;
  color: #fc3f1d;
}
// making_order
.making_order {
  position: relative;
  z-index: 1;
  .show_order {
    font-size: 20px;
    font-weight: 300;
    line-height: 17.15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    background: #6f6f6f33;
    border: 1px solid transparent;
    width: 100%;
    color: #fff;
    border-image: linear-gradient(
        146.49deg,
        rgba(140, 140, 140, 0.6) 3.89%,
        rgba(0, 0, 0, 0) 48.54%,
        rgba(143, 143, 143, 0.6) 89.85%
      )
      0;
    margin-bottom: 40px;
  }

  .parent_sidebar {
    position: relative;
    z-index: 1;
    margin: 236px 0 210px 0;
    .title__box {
      z-index: 1;
      position: relative;
    }
    .media_title {
      display: none;
    }
  }
  .top_gradient {
    height: 300px;
    img {
      height: 100%;
    }
  }
  .title_box .top_gradient {
    top: 57px;
  }
  .top_gradient,
  .bottom_gradient {
    position: absolute;
    top: 57px;
    left: 0;
    width: 100%;
    z-index: -1;
    img {
      width: 100%;
    }
  }
  .bottom_gradient {
    top: auto;
    bottom: -183px;
    height: 88%;
    img {
      height: 100%;
    }
  }
  .sidebars {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 64px;
    max-width: 980px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    .left_box {
      max-width: 516px;
      width: 100%;
    }
    .right_box {
      flex: 1 1 380px;
      .media_order-list {
        display: none;
      }
      .add__cart-btn {
        display: none;
      }
      .show_order {
        display: none;
      }
    }
  }
  .form_boxes {
    display: flex;
    flex-direction: column;
    gap: 82px;
  }
  .first-form {
    .form_item {
      max-width: 43%;
      width: 100%;
      input {
        width: 100%;
      }
    }
  }
  .form_title {
    font-size: 32px;
    font-weight: 500;
    line-height: 27.48px;
    padding-bottom: 50px;
  }
  .flex_box {
    display: flex;
    gap: 30px;

    &.full {
      width: 100%;
    }
  }
  .sm-radio {
    .checked_box-form-label {
      padding-left: 42px;
    }
    .checked_box-form-label::before {
      max-width: 24px;
      max-height: 24px;
      width: 26px;
      height: 26px;
    }
    .checked_box-form-label::after {
      width: 15px;
      height: 15px;
      left: 6px;
    }
  }
  .checked_box {
    display: flex;
    align-items: center;
    gap: 18px;

    &-form-label {
      font-size: 16px;
      font-weight: 300;
      line-height: 13.72px;
      position: relative;
      padding-left: 48px;
      padding-bottom: 0;
      cursor: pointer;
      &.disabled {
        color: #adadad;
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 30px;
        height: 30px;
        background-color: #eeeeee33;
        outline: none;
        border: 1px solid transparent;
        border-image: linear-gradient(
            165.54deg,
            rgba(140, 140, 140, 0.6) 9.19%,
            rgba(159, 159, 159, 0.3) 46.45%,
            rgba(143, 143, 143, 0.6) 84.11%
          )
          1;
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 7px;
        width: 18px;
        height: 18px;
        background: #fc3f1d;
        display: none;
      }
    }
    .input_label {
      font-size: 16px;
      font-weight: 300;
      line-height: 13.72px;
      position: relative;
      cursor: pointer;
      display: block;
      padding-bottom: 15px;
      color: #adadad;
      &.disabled {
        color: #adadad;
      }
    }
    .form_input-box {
      &.full {
        width: 100%;
      }
    }
    .input {
      background: #d9d9d933;
      border: none;
      outline: none;
      height: 42px;
      font-family: Codec Pro;
      font-size: 17px;
      font-weight: 300;
      padding: 14px;
      line-height: 14.58px;
      color: #d9d9d9;
      &.full {
        width: 100%;
      }
    }
    .checkbox_form-input {
      display: none;
      &:checked ~ label {
        &::after {
          display: block;
        }
      }
    }
  }
  .send_btn {
    width: fit-content;
    margin-left: auto;
    padding: 19px 27px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
  }
  // .top_form,
  .form {
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
  }
  .location_box {
    margin-top: 66px;
    label {
      color: #adadad;
    }
  }
  .add__cart-btn {
    margin-top: 60px;
    &.h-50 {
      height: 50px;
      font-size: 16px;
      padding: 0 23px;
    }
  }
  .ways_pay {
    .form_item {
      display: flex;
      align-items: center;
      gap: 17px;
      width: 100%;
      justify-content: space-between;
      .form_label {
        padding-bottom: 0;
      }
    }
  }
  .example_prices {
    display: flex;
    align-items: center;
    gap: 16px;
    span {
      color: #fc3f1d;
      font-family: Codec Pro;
      font-size: 14px;
      font-weight: 300;
      line-height: 12px;
      text-decoration: underline;
    }
  }
  .delivery_time {
    margin-left: auto;
    text-align: right;
    input {
      width: 160px;
      text-align: center;
      font-size: 18px;
    }
  }
  .comments_box {
    textarea {
      width: 100%;
      height: 115px;
      resize: none;
      padding-top: 10px;
    }
  }
  .check_form-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 57px;
  }
  .promocode_box {
    display: flex;
    align-items: center;
    gap: 25px;
    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 13.72px;
    }
    span {
      font-family: Codec Pro;
      font-size: 16px;
      font-weight: 300;
      line-height: 13.72px;
      text-align: left;
      text-decoration: underline;
    }
    .add__cart-btn {
      padding: 13px 23px;
      font-size: 16px;
      margin-top: 0;
      height: 40px;
    }
    .form_input {
      width: 168px;
    }
  }
}
.top_child-form {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}
.form_input {
  font-size: 17px;
  background: #d9d9d933;
  height: 42px;
  padding: 0 12px;
  border: none;
  outline: none;
  color: #fff;
  border: 1px solid transparent;
  &.select__input {
    cursor: pointer;
    user-select: none;
  }
  &:focus {
    border-image: linear-gradient(
        165.54deg,
        rgba(140, 140, 140, 0.6) 9.19%,
        rgba(159, 159, 159, 0.3) 46.45%,
        rgba(143, 143, 143, 0.6) 84.11%
      )
      1;
  }
  &.etaj {
    width: 104px;
  }
  &.house {
    width: 95px;
  }
  &.etaj {
    width: 140px;
  }
}
.full {
  width: 100%;
}
.form_name,
.form_label {
  font-size: 16px;
  font-weight: 300;
  line-height: 13.72px;
  color: #adadad;
  display: block;
  padding-bottom: 15px;
}

// information page
.information_page {
  padding-bottom: 210px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  .parent_relative {
    padding: 250px 40px 73px 40px;
    position: relative;
    z-index: 1;
    img {
      position: absolute;
      top: 42%;
      left: 0;
      width: 100%;
      z-index: -1;
      height: 239px;
    }
  }
  .top__box {
    position: relative;
    margin: 0;
  }
  .bottom_gradient {
    position: absolute;
    width: 100%;
    z-index: -1;
    bottom: -87%;
    height: 144%;
    img {
      width: 100%;
    }
  }
  .information_links {
    max-width: 970px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 42px;
    a {
      border-bottom: 1.5px solid;
      display: inline-block;
      width: fit-content;
      color: #fc3f1d;
      font-size: 22px;
      font-weight: 500;
      line-height: 18.9px;
    }
  }
}

// madeorder_page
.madeorder_page {
  padding-bottom: 210px;
  z-index: 1;

  .bottom_gradient {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    bottom: -62%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .btns {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    .order_list {
      margin: 0 auto;
    }
    .add__cart-btn,
    .blur__btn {
      text-align: center;
      font-size: 28px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .top__box::before {
    display: none;
  }
  .title__box {
    h1 {
      margin: 0 auto;
    }
  }
}
.select__box {
  position: relative;
  width: fit-content;
  margin-left: auto;

  .option__box {
    position: absolute;
    width: 100%;
    height: 273px;
    // background: #d9d9d933;
    background: url(../assets/select-bg.png) no-repeat;
    background-size: cover;
    z-index: 10;
    overflow-x: auto;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      height: 34px;
      background: #ffffff99;
    }
    &::-webkit-scrollbar-track {
      background: #43434333;
    }

    .option {
      padding: 12px 0;
      width: 100%;
      text-align: center;
      color: #adadad;
      font-size: 18px;
      font-weight: 300;
      line-height: 15.43px;
      cursor: pointer;
      white-space: nowrap;
      &:hover {
        background: #1a1a1a33;
        color: #d9d9d9;
      }
    }
  }
}
